/*styles for assignment 3*/

body {
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
}

.parent {
  margin: 0 auto;
  text-align: center;
}

.object {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 250px;
}

.image {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 250px;
}

.object > p {
  text-align: center;
  margin: 40% 0;
}
