/*styles for assignment 3*/

body {
  text-align: center;
}

.parent {
  margin: 0 auto;
}

.object {
  float: left;
  width: 50%;
}

.image {
  width: 50%;
}

img {
  width: 300px;
  height: 300px;
}
